<html>
<head>
<title>GIFTEVERYDAY...SPREADHAPPINESS...gallery...</TITLE>
</HEAD>
<BODY BGCOLOR=PINK>
<IMG SRC="C:\Users\akhil\Desktop\GIFTEVERYDAY\static\img\CAKE5.png" HEIGHT=250 WIDTH=250></IMG>
<CENTER><IMG SRC="C:\Users\akhil\Desktop\GIFTEVERYDAY\static\img\right.jpg" HEIGHT=250 WIDTH=250></IMG></CENTER>
<IMG SRC="C:\Users\akhil\Desktop\GIFTEVERYDAY\static\img\CAKE2.png" ALIGN=RIGHT HEIGHT=250 WIDTH=250></IMG><BR>
<IMG SRC="C:\Users\akhil\Desktop\GIFTEVERYDAY\static\img\CAKE3.png" HEIGHT=250 WIDTH=250></IMG>
 <CENTER> <IMG SRC="C:\Users\akhil\Desktop\GIFTEVERYDAY\static\img\home_page.jpg" HEIGHT=250 WIDTH=250></IMG></CENTER>
<IMG SRC="C:\Users\akhil\Desktop\GIFTEVERYDAY\static\img\CAKE8.png" ALIGN=RIGHT HEIGHT=250 WIDTH=250><BR></IMG>
<IMG SRC="C:\Users\akhil\Desktop\GIFTEVERYDAY\static\img\CAKE7.png" HEIGHT=250 WIDTH=250></IMG>
<IMG SRC="C:\Users\akhil\Desktop\GIFTEVERYDAY\static\img\gallery.png" ALIGN=RIGHT HEIGHT=250 WIDTH=250></IMG>
</BODY>
</html>