<html>
<head>
<title> gifteveryday...spreadhappiness...</title>
<style type="text/css">
h1{color: blue; background-color:pink; font-style:italic; font-family:algerian;text-align:center;font-size:50pt}
h2{color: red; font-style:italic;font-family:algerian;text-decoration:underline;text-align:center;font-size:30pt}
</style>
</head>
<body bgcolor=orange ALIGN=CENTER>
<img src="C:\Users\akhil\Desktop\GIFTEVERYDAY\static\img\head.jpg"></img><br>
<h1> GIFT EVERYDAY SERVICES</H1>
<H2>SPREAD HAPPINESS ... !!! :-) ... EXPAND YOUR WORLD ... !!!</H2><HR>
<BR>
<H2>
<UL TYPE=CIRCLE ALIGN=LEFT>
<LI><A HREF="C:\Users\akhil\Desktop\GIFTEVERYDAY\templates\index.html">ORDERS AND BRANCHES
<LI><A HREF="https://app.powerbi.com/groups/me/reports/8e696d29-938c-493f-b500-ef5a4099d1f6/ReportSection">REPORT
<LI><A HREF="C:\Users\akhil\Desktop\GIFTEVERYDAY\templates\gallery.html">GALLERY
</UL>
</H2>
<BR>
<img src="C:\Users\akhil\Desktop\GIFTEVERYDAY\static\img\bottom.png"></img>
</body>
</html>
