<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOATS</title>	
    <style type="text/css">
	h1{color: blue; background-color:pink; font-style:italic; font-family:algerian;text-align:center;font-size:50pt}
	h2{color: red; font-style:italic;font-family:algerian;text-decoration:underline;text-align:center;font-size:30pt}
	h3{color: brown;font-size:20pt}
    </style>

</head>

<body background="C:\Users\akhil\Desktop\GIFTEVERYDAY\static\img\record.jpg">
    <h1>GIFT EVERYDAY</h1>
    <H2>SPREAD HAPPINESS ... !!! :-) ... EXPAND YOUR WORLD ... !!!</H2>
<hr>
    <!-- As a heading -->
    <font size=5 face="verdana">
<form action="\datareport" method="POST">
<input class="form-check-input" type="radio" name="exampleRadios" id="DG" value="option1">
<label class="form-check-label" for="DELIVERY GIFT">
<H3>DELIVERY_GIFT</H3>
</label>
<input class="form-check-input" type="radio" name="exampleRadios" id="CUST" value="option2">
<label class="form-check-label" for="CUSTOMER">
<H3>CUSTOMER DETAILS</H3>
</label>
<input class="form-check-input" type="radio" name="exampleRadios" id="GB " value="option3">
<label class="form-check-label" for="GIFTEVERYDAY_BRANCH">
<H3>BRANCH DETAILS</H3>
</label>
<input class="form-check-input" type="radio" name="exampleRadios" id="OG" value="option4">
<label class="form-check-label" for="ORDER_GIFT">
<H3> ORDERS REQUESTED </H3>
</label>
<input class="form-check-input" type="radio" name="exampleRadios" id="GIFTS" value="option5">
<label class="form-check-label" for="ORDERS">
<H3>ORDERS DETAILS</H3>
</label>
<input class="form-check-input" type="radio" name="exampleRadios" id="CD" value="option6">
<label class="form-check-label" for="ORDERS">
<H3>NEW CUSTOMER... REGISTER YOURSELF...</H3>
</label>
ENTER THE CUSTOMER NAME: <input type="text" name="newcust_name"/><br>
ENTER THE CONTACT : <input type="text" name="newcust_cont"/><br>
ENTER THE MAIL ID :  <input type="text" name="newcust_mail"/>
<table border=0>
<tr>
<td>
<input type="submit" class="content" value="Submit" name="submit"/>
</td>
<td>
<input type="reset" class="content" value="Reset" name="reset"/>
</td>
</tr> 
</table>
</p>
<!-- <button type="submit" class="btn btn-success" name="submit" formaction="\report">Report</buttton> -->
</form>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>
